@model RunningClub.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Completed Races";
}


<div class="row mt-3">
    <!-- Left Column: List of Cards -->
    <div class="col-md-9">
        <nav class="mb-5 navbar custom-navbar sticky-top bg-white shadow d-flex justify-content-between align-items-center" style="top:56px">
            <div class="w-100 d-flex justify-content-center flex-grow-1">
                <a asp-action="Index" asp-route-userId="@Model.Id" class="mx-4 nav-item nav-link not-active mx-4">Upcoming Races</a>
                <a asp-action="MyClubs" asp-route-userId="@Model.Id" class="nav-item nav-link not-active mx-4">Following Clubs</a>
                <a asp-action="ManageClubs" asp-route-userId="@Model.Id" class="nav-item nav-link not-active mx-4">Manage My Clubs</a>
                <a asp-action="ManageRaces" asp-route-userId="@Model.Id" class="nav-item nav-link not-active mx-4">Manage My Races</a>
                <a asp-action="CompletedRaces" asp-route-userId="@Model.Id" class="nav-item nav-link active mx-4">Completed Races</a>
            </div>
        </nav>
        @* <h4 class="mt-3 mb-3 text-center">Your Cards</h4> *@
        <div class="card p-3" id="raceList">
            
        </div>
    </div>

    <!-- Right Column: Big Account Info Card -->
    <div class="col-md-3 p-3">
        @await Html.PartialAsync("_UserCard",Model)
    </div>
</div>
<script>
    getUserCompletedRaces('@Model.Id')
</script>
