@using RunningClub.Misc
@model RunningClub.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}


<div class="row mt-3">
    <!-- Left Column: List of Cards -->
    <div class="col-md-9">
        <nav class="mb-5 navbar custom-navbar sticky-top bg-white shadow d-flex justify-content-between align-items-center" style="top:56px">
            <div class="w-100 d-flex justify-content-center flex-grow-1">
                <a asp-action="Index" asp-route-userId="@Model.Id" class="mx-4 nav-item nav-link active mx-4">Upcoming Races</a>
                <a asp-action="MyClubs" asp-route-userId="@Model.Id" class="nav-item nav-link not-active mx-4">Following Clubs</a>
                <a asp-action="ManageClubs" asp-route-userId="@Model.Id" class="nav-item nav-link not-active mx-4">Manage My Clubs</a>
                <a asp-action="ManageRaces" asp-route-userId="@Model.Id" class="nav-item nav-link not-active mx-4">Manage My Races</a>
                <a href="#" class="nav-item nav-link not-active mx-4">Completed Races</a>
            </div>
        </nav>
        @* <h4 class="mt-3 mb-3 text-center">Your Cards</h4> *@
        <div class="card p-3">
            @if (Model.Races.Count == 0)
            {
                <p class="text-muted text-center">No upcoming races at the moment.</p>
            }
            @foreach (Race race in Model.Races)
            {
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="card-img">
                                <div class="d-flex justify-content-center">
                                    <div id="spinner @race.Id" class="spinner-border m-5" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <img id="image @race.Id" style="display: none" src=@race.Image class="img-fluid" alt="Club Image" onload="onImageLoadById(@race.Id)">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@race.Title</h5>
                                <h6 class="card-subtitle">@race.Club?.Title</h6>
                                <p class="text-muted">@race.Category</p>
                                <p class="card-text">@race.Description</p>
                                <p class="card-text"><small class="text-muted">Starts on @race.StartDate.ShowDateTime()</small></p>
                                <a asp-action="Detail" asp-controller="Race" asp-route-raceId="@race.Id" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- Right Column: Big Account Info Card -->
    <div class="col-md-3 p-3">
        @await Html.PartialAsync("_UserCard",Model)
    </div>
</div>


