@using RunningClub.Misc
@model RunningClub.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}


<div class="row mt-3">
    <!-- Left Column: List of Cards -->
    <div class="col-md-9">
        <nav class="mb-5 navbar custom-navbar sticky-top bg-white shadow d-flex justify-content-between align-items-center" style="top:56px">
            <div class="w-100 d-flex justify-content-center flex-grow-1">
                <a asp-action="Index" class="mx-4 nav-item nav-link not-active mx-4">Upcoming Races</a>
                <a asp-action="MyClubs" class="nav-item nav-link not-active mx-4">Following Clubs</a>
                <a asp-action="ManageClubs" class="nav-item nav-link active mx-4">Manage My Clubs</a>
                <a asp-action="ManageRaces" class="nav-item nav-link not-active mx-4">Manage My Races</a>
                <a href="#" class="nav-item nav-link not-active mx-4">Completed Races</a>
            </div>
        </nav>
        @* <h4 class="mt-3 mb-3 text-center">Your Cards</h4> *@
        <div class="card p-3">
            @if (Model.AdminClubs.Count == 0)
            {
                <p class="text-muted text-center">You aren't an admin in any club</p>
            }
            @foreach (Club club in Model.AdminClubs)
            {
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="d-flex justify-content-center">
                                <div id="spinner @club.Id" class="spinner-border m-5" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <img id="image @club.Id" style="display: none" src=@club.Image class="img-fluid" alt="Club Image" onload="onImageLoadById(@club.Id)">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@club.Title</h5>
                                <p class="text-muted">@club.Category</p>
                                <p class="card-text">@club.Description</p>
                                <a asp-action="Detail" asp-controller="Club" asp-route-id="@club.Id" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- Right Column: Big Account Info Card -->
    <div class="col-md-3 p-3">
        <div class="card w-25 account-info-card shadow">
            <div class="card-body d-flex flex-column justify-content-center">
                <h2 class="card-title text-center mb-4">@Model.Username</h2>
                <p><strong>Name:</strong> @(Model.FName+" "+Model.LName)</p>
                <p><strong>Email:</strong> @Model.Email</p>
                <p><strong>Mileage:</strong> @Model.Mileage</p>
                @if (User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))
                {
                    <p><strong class="text-danger">Admin</strong></p>
                }
                <a class="btn btn-primary mt-auto w-50 mx-auto">Edit Profile</a>
            </div>
        </div>
    </div>
</div>


