@using RunningClub.Misc
@model RunningClub.ViewModels.IndexRaceViewModel
@{
    ViewData["Title"] = "Races";
}

<h1 class="text-center mb-3">Races</h1>

<!-- Outer Container -->
<div class="outer-container">
    <!-- Vertical List Container -->
    <div class="vertical-scroller">
        @if (Model.Races.Count == 0)
        {
            <p class="text-muted text-center">No available races at the moment. Join more clubs to see more races!</p>
        }
        @foreach (Race race in Model.Races)
            {
                <div class="card mb-4 d-flex flex-column" style="height: 15%;">
                    <div class="row g-0 h-100">
                        <div class="col-md-4 d-flex">
                            <div class="d-flex justify-content-center">
                                <div id="spinner @race.Id" class="spinner-border m-5" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <img id="image @race.Id" style="display: none" src=@race.Image class="img-fluid" alt="Image @race.Id" onload="onImageLoadById(@race.Id)">
                            </div>
                        </div>
                        <div class="col-md-8 d-flex">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">@race.Title</h5>
                                <h6 class="text-muted">@race.Category</h6>
                                <p class="card-text">@race.Description</p>
                                <div class="mt-auto d-flex flex-column">
                                    @if (Model.JoinedRaces.Contains(race.Id))
                                    {
                                        <p class="text-warning">Joined</p>
                                    }
                                    <small class="text-muted">Created 5min ago</small>
                                    <a class="btn w-25 btn-sm btn-primary mt-2" asp-action="Detail" asp-controller="Race" asp-route-id=@race.Id>View</a>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-center align-items-center">
                                <small class="text-muted">Participants 1/10</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>
