@using RunningClub.Misc
@using RunningClub.ViewModels
@model RunningClub.ViewModels.DetailClubViewModel
@{
    ViewData["Title"] = Model.Title;
}
<div class="row">
    <div class="container mt-3 col-md-6">
        <a onclick="goBack()" class="btn btn-secondary">
            ← Back
        </a>
    </div>
    
    <div class="container mt-3 d-flex justify-content-end  col-md-6">
        @if (User.Identity.IsAuthenticated && (User.IsInRole(UserRoles.Admin)||Model.IsAdmin))
        {
            <a asp-action="Edit" asp-controller="Club" asp-route-clubId="@Model.Id" style="width: 15%" class="btn btn-primary" id="editButton">
                Edit
            </a>
        }
    </div>
</div>
<div id="errorToast" class="toast align-items-center text-white bg-danger border-0 position-fixed top-10 end-0 m-3" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-danger">
            <span><strong class="text-white">ERROR</strong></span>
            <button type="button" class="btn-close ms-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <span id="errorMessage">An error occurred!</span>
        </div>
</div>
<div id="successToast" class="toast align-items-center text-white bg-success border-0 position-fixed top-10 end-0 m-3" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-success">
        <span><strong class="text-white">SUCCESS</strong></span>
        <button type="button" class="btn-close ms-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        <span id="successMessage"></span>
    </div>
</div>

<div class="card p-3 mt-3" id="card">
    <div id="clubInfo" class="card-body">
        
    </div>
</div>
<div id="removeOnDeleteDiv">
    @if (User.Identity.IsAuthenticated&&(User.IsInRole(UserRoles.Admin)||Model.IsAdmin))
    {
        <div class="container ms-auto mt-3 d-flex justify-content-end">
            <a asp-action="Create" asp-controller="Race" asp-route-clubId="@Model.Id" class="btn btn-primary">
                + Create Race
            </a>
        </div>
    }
    <div class="mt-3 row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center mb-3">Members</h3>
                    <ul class="list-group" id="memberList">
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3 d-flex justify-content-between align-items-center position-relative">
                        <p id="raceCount" class="text-muted"></p>

                        <!-- Centered Title -->
                        <h3 id="raceListTitle" class="text-center position-absolute start-50 translate-middle-x">Upcoming Races</h3>
                        
                        <div>
                            <select onchange="onChangeInClubRacesSelector('@Model.Id')" id="raceSelector" class="form-select" aria-label="Select race category">
                                <option value="upcoming" selected>Upcoming Races</option>
                                <option value="completed">Completed Races</option>
                            </select>
                        </div>
                    </div>

                    <!-- Race List -->
                    <div id="raceList" class="vertical-scroller" style="max-height: 30vh">
                       
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    window.onload= function() {
        getClubInfo('@Model.Id');
        getClubUpcomingRaces('@Model.Id');
    };
</script>
